<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="pagehead">
				<h1>Local Jobs History (By Datasets)</h1>
			</div>
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="dataset in datasets">
					<a href="#">{{dataset.id}}</a>
				</li>
			</ul>
			
			<!-- 
			<table class="table table-bordered">
				<tr>
					<th>File</th>
					<th>Dataset</th>
					<th>Status</th>
					<th>Type</th>
					<th>Uploaded</th>
					<th>Owner</th>
					<th>Info</th>
				</tr>
				<tbody>
					<tr ng-repeat="job in jobs">
						<td>{{getFileName(job.path)}}</td>
						<td>{{job.dataset}}</td>
						<td>{{job.status}}</td>
						<td>{{job.type}}</td>
						<td>{{job.created | date}}</td>
						<td>{{job.owner}}</td>
						<td>{{job.info}}</td>
					</tr>
				</tbody>
			</table> -->
		</div>
	</div>
</div>