<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="pagehead">
				<div class="pull-right">
					<button ng-show="datasetIds.length>0"
						class="btn btn-{{toggleRefreshCls}} btn-lg"
						ng-click="toggleRefresh()">{{toggleRefreshLabel}}</button>
				</div>
				<h1>
					Local Jobs History <small>By Datasets</small>
				</h1>
			</div>
			<br />
			<div class="panel panel-default" ng-repeat="dataset in datasets">
				<div class="panel-heading">
					<div class="pull-right" ng-show="dataset.lastRefresh">
						Last Refreshed At <strong>{{dataset.lastRefresh |
							date:'mediumTime'}}</strong>
					</div>
					<h3 class="panel-title">Dataset: {{dataset.name}}</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<tr>
							<th>File</th>
							<th>Status</th>
							<th>Type</th>
							<th>Uploaded</th>
							<th>Info</th>
							<th></th>
						</tr>
						<tbody>
							<tr ng-repeat="job in dataset.jobs">
								<td>{{job.name}}</td>
								<td>{{job.status}}</td>
								<td>{{job.type}}</td>
								<td>{{job.created | date:'short'}}</td>
								<td>{{job.info}} <img src="" /></td>
								<td><a ng-hide="isInCloud(job.path) || isInProgress(job)"
									class="btn btn-default btn-sm"
									ng-href="/download?file={{job.path}}">Download</a> <a
									ng-show="isInCloud(job.path) && !isInProgress(job)"
									class="btn btn-success btn-sm disabled" disabled="true" href>In
										Cloud</a> <span class="label label-primary"
									ng-show="isInProgress(job)">In Progress</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>