<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="pagehead">
				<h1>
					Alignment Portal <small>for genomic sequences</small>
				</h1>
			</div>
			<p>This portal allows you to upload genomic sequences and align
				them with uploaded reference genomes. Once the data is aligned you
				can explore various aspects of it and interact with the aligned data
				using different tools provided by this portal. Below are the steps
				for uploading and processing a new set of genomic sequences new
				sequences and aligning them</p>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-6" style="height: 160px;">
			<a class="btn btn-primary btn-block" href="/#/genomics/datasets"><span
				class="glyphicon glyphicon-upload" aria-hidden="true"></span> Submit
				New Genomic Sequences</a>
			<p style="margin-top: 15px;">Click this button to submit new
				genomic sequences. This process will take you through the steps of
				uploading reference genome and sample sequences</p>
		</div>
		<div class="col-md-6" style="height: 160px;">
			<a class="btn btn-default btn-block" href="/#/history"><span
				class="glyphicon glyphicon-list" aria-hidden="true"></span> Check
				Job History</a>
			<p style="margin-top: 15px;">Click this button to check job
				history of previously uploaded sequences. This shows local files
				history</p>
		</div>
		<div class="col-md-6" style="height: 160px;">
			<a class="btn btn-default btn-block" href="/#/readgroupsets"><span
				class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
				Explore Reads</a>
			<p style="margin-top: 15px;">Explore previously uploaded sequence
				reads</p>
		</div>
		<div class="col-md-6" style="height: 160px;">
			<a class="btn btn-default btn-block" href="/#/history"><span
				class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
				Explore Variants</a> 
			<p style="margin-top: 15px;">Explore previously uploaded seqence
				variants</p>
		</div>
	</div>
</div>