<div class="container">
	<div class="jumbotron">
		<h1>
			Alignment Portal <small>for genomic sequences</small>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id luctus magna. Nullam vel justo ullamcorper, rutrum purus dapibus, finibus leo. Vestibulum iaculis justo egestas porta placerat. Vivamus gravida sapien at nunc interdum luctus</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/#/genomics/datasets">Process New Genomics Data</a>
				<a class="btn btn-default btn-lg" href="">Explore Existing Genomics Data</a>
			</p>
		</h1>
	</div>
</div>