<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="pagehead">
				<h1>
					Variant Sets <small>By Datasets</small>
				</h1>
				<p>
					Every <strong>dataset</strong> contains multiple <strong>variant sets</strong>. A <strong>variant set</strong>
					contains variants from a single aligned sequenced file
				</p>
			</div>
			<table class="table table-bordered">
				<tr>	
					<th>Dataset</th>
					<th>Reference Name</th>
					<th>Upper Bound</th>
					<th></th>
					<th></th>
				</tr>
				<tbody>
					<tr ng-repeat="variantSet in variantSets">
						<td>{{variantSet.datasetName}}</td>
						<td>{{variantSet.referenceBounds[0].referenceName}}</td>
						<td>{{variantSet.referenceBounds[0].upperBound}}</td>
						<td><button class="btn btn-primary" ng-click="viewVariants(variantSet)">View Variants</button></td>
						<td><button class="btn btn-danger" ng-click="deleteSet(variantSet)">Delete</button>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>