<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<p class="lead well" ng-hide="hideBanner || !variantSetData.importToBigQuery">
				Note: For futher exploration of these variants or complex queries <a
					href="https://bigquery.cloud.google.com/table/mg-alignment-portal:{{variantSetData.bigquerytable}}?pli=1"
					class='btn btn-primary'>Go to Google Big Query</a>
					<button type="button" class="close" ng-click="hideBanner=true"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</p>
			<div class="pagehead">
				<div class="pull-right">
					<a href="/#variantsets" class="btn btn-default">Back To Variant
						Sets</a> <a href="http://samtools.github.io/hts-specs/VCFv4.2.pdf"
						target="_blank" class="btn btn-success">Format Specifications</a>
				</div>
				<h1>
					Variants <small>for
						{{variantSetData.variantSetReferenceName}}</small>
				</h1>

			</div>
			<nav class="navbar navbar-default" role="navigation">
				<div>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" data-toggle="tooltip"
								data-placement="bottom"
								title="Search for alignments within a start and end position range"
								placeholder="Start Position" ng-model="startPosition">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" data-toggle="tooltip"
								data-placement="bottom"
								title="Search for alignments within a start and end position range"
								placeholder="End Position" ng-model="endPosition">
						</div>
						<div class="form-group">
							<select class="form-control" ng-model="referenceNameObj"
								ng-options="value.referenceName for value in variantSetData.variantSetReferenceBounds"
								data-toggle="tip" data-placement="bottom"
								title="Search for alignments for a given reference name e.g. chr1 or gi|9626243|ref|NC_001416.1|"></select>
						</div>
						<button type="button" class="btn btn-default" ng-click="search()"
							ng-disabled="!startPosition || !endPosition || !referenceNameObj">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							Search Variants
						</button>
						<button type="button" class="btn btn-default" ng-click="clear()"
							ng-disabled="!startPosition && !endPosition && !referenceNameObj">
							Clear</button>
					</form>
					<form class="navbar-form navbar-right">
						<button ng-show="variantSetData.previousPageToken"
							ng-click="first()" class="btn btn-default">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							First Page
						</button>
						<button ng-show="variantSetData.nextPageToken" ng-click="next()"
							class="btn btn-default">
							Next Set of Variants <span
								class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</button>
						&nbsp;
					</form>
				</div>
			</nav>
			<table class="table table-bordered">
				<tr>
					<th>Start Postion</th>
					<th>End Position</th>
					<th>Reference Bases</th>
					<th>Alternate Bases</th>
					<th>Tags</th>
					<th>Quality</th>
				</tr>
				<tbody>
					<tr ng-repeat="variant in variantSetData.variants">
						<td>{{variant.start}}</td>
						<td>{{variant.end}}</td>
						<td><div
								ng-bind-html="renderBases(variant.referenceBases) | unsafe"></div></td>
						<td><div
								ng-bind-html="renderBases(variant.alternateBases) | unsafe"></div></td>
						<td><div ng-bind-html="renderInfo(variant.info) | unsafe"></div></td>
						<td>{{variant.quality}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>